body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure overlay is above other content */
}

.overlay-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.mandatory-fields {
    font-size: 10px;
}
